@import 'https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display';
body {
    font-family: 'Open Sans', sans-serif;
}
main {
    margin: 0 auto;
    width: 60%;
}
header {
    overflow: auto;
}
img {
    float: left;
    display: block;
    width: 10rem;
}
h1 {
    margin-left: 11rem;
    font-weight: bold;
    font-size: 5rem;
    font-family: 'Playfair Display', serif;
}

@media screen and (max-width: 720px) {
    main {
        margin: 0 auto;
        width: 100%;
    }
    h1 img {
        height: 3em;
    }
}
